[submodule "Pico PID Library"]
	path = source_code/pico_ws/src/lib/PID_lib
	url = https://github.com/samyarsadat/Pico-PID-Library

[submodule "Common Helper Libraries"]
	path = source_code/pico_ws/src/lib/Common_libs
	url = https://github.com/samyarsadat/Pico-Libraries

[submodule "DHT11 Library"]
	path = source_code/pico_ws/src/lib/DHT11_lib
	url = https://github.com/vmilea/pico_dht

[submodule "FreeRTOS Kernel"]
	path = source_code/pico_ws/libfreertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	ignore = all

[submodule "MPU6050 Library"]
	path = source_code/pico_ws/src/lib/MPU_lib
	url = https://github.com/samyarsadat/Pico-MPU6050-Library

[submodule "MicroROS Tools"]
	path = source_code/pico_ws/libmicroros/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup
	branch = jazzy
	ignore = all

[submodule "Raspberry Pi's libcamera Fork"]
	path = source_code/ros_camera_ws/src/libcamera
	url = https://github.com/raspberrypi/libcamera
	ignore = all

[submodule "The camera_ros Package"]
	path = source_code/ros_camera_ws/src/camera_ros
	url = https://github.com/christianrauch/camera_ros
	ignore = all