cad_files/swxJRNL.swj
cad_files/G-Code
**/~$*.sldprt
**/~$*.SLDPRT
**/~$*.sldasm
**/~$*.SLDASM
**/~$*.sldblk
**/~$*.SLDBLK
source_code/pico_ws/build
source_code/pico_ws/libmicroros/firmware
source_code/pico_ws/libmicroros/src/build
source_code/pico_ws/libmicroros/src/install
source_code/pico_ws/libmicroros/src/log
source_code/pico_ws/libmicroros/src/rrp_pico_coms/build
source_code/pico_ws/libmicroros/src/rrp_pico_coms/install
source_code/pico_ws/libmicroros/src/rrp_pico_coms/log
source_code/ros_ws_robot_infra/install
source_code/ros_ws_robot_infra/log
source_code/ros_ws_robot_infra/build
**/.idea
**/__pycache__
electronics/**/__Previews
electronics/**/History
electronics/**/Project *
electronics/**/*.Cam
electronics/**/*.OutJob
electronics/**/*.PrjPcbStructure
testing_data
**/desktop.ini