[submodule "FreeRTOS Kernel"]
	path = Source Code/pico_ws/libfreertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	ignore = all

[submodule "MicroROS Tools"]
	path = Source Code/pico_ws/libmicroros/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup
	branch = humble
	ignore = all

[submodule "Pico PID Library"]
	path = Source Code/pico_ws/src/lib/PID_lib
	url = https://github.com/samyarsadat/Pico-PID-Library

[submodule "MPU6050 Library"]
	path = Source Code/pico_ws/src/lib/MPU_lib
	url = https://github.com/HumansAreWeak/rpi-pico-mpu6050

[submodule "Common Helper Libraries"]
	path = Source Code/pico_ws/src/lib/Common_libs
	url = https://github.com/samyarsadat/Pico-Libraries

[submodule "DHT11 Library"]
	path = Source Code/pico_ws/src/lib/DHT11_lib
	url = https://github.com/vmilea/pico_dht
