/CAD Files/swxJRNL.swj
/CAD Files/G-Code
/CAD Files/~$*.sldprt
/CAD Files/~$*.sldasm
/CAD Files/**/~$*.sldprt
/CAD Files/**/~$*.sldasm
/Source Code/pico_ws/libmicroros/src/micro_ros_setup
/Source Code/pico_ws/mainboard_firmware/build/*
!/Source Code/pico_ws/mainboard_firmware/build/*.uf2
!/Source Code/pico_ws/mainboard_firmware/build/*.elf
!/Source Code/pico_ws/mainboard_firmware/build/*.dis
/Source Code/pico_ws/libmicroros/build
/Source Code/pico_ws/libmicroros/install
/Source Code/pico_ws/libmicroros/log
/Source Code/pico_ws/libmicroros/firmware
/Circuit Diagrams & PCB Files/**/__Previews
/Circuit Diagrams & PCB Files/**/History
/Circuit Diagrams & PCB Files/**/Project *
/Circuit Diagrams & PCB Files/**/*.Cam
/Circuit Diagrams & PCB Files/**/*.OutJob
/Circuit Diagrams & PCB Files/**/*.PrjPcbStructure
/Testing Data
**/desktop.ini