<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="wheel" params="position wheel_radius wheel_thickness wheelbase track_width whl_z_offset">
        <xacro:property name="mesh_file" value="package://ros_robot_description/meshes/robot_wheel.dae" />
        <xacro:property name="mass" value="0.036" />

        <xacro:if value="${position == 'fr'}">
            <xacro:property name="pos_x" value="${wheelbase/2.0}" />
            <xacro:property name="pos_y" value="${-track_width/2.0}" />
            <xacro:property name="mesh_roll" value="${-pi/2}" />
        </xacro:if>
        <xacro:if value="${position == 'fl'}">
            <xacro:property name="pos_x" value="${wheelbase/2.0}" />
            <xacro:property name="pos_y" value="${track_width/2.0}" />
            <xacro:property name="mesh_roll" value="${pi/2}" />
        </xacro:if>
        <xacro:if value="${position == 'br'}">
            <xacro:property name="pos_x" value="${-wheelbase/2.0}" />
            <xacro:property name="pos_y" value="${-track_width/2.0}" />
            <xacro:property name="mesh_roll" value="${-pi/2}" />
        </xacro:if>
        <xacro:if value="${position == 'bl'}">
            <xacro:property name="pos_x" value="${-wheelbase/2.0}" />
            <xacro:property name="pos_y" value="${track_width/2.0}" />
            <xacro:property name="mesh_roll" value="${pi/2}" />
        </xacro:if>

        <joint name="${position}_wheel_joint" type="continuous">
            <parent link="body_link" />
            <child link="${position}_wheel_link" />
            <origin xyz="${pos_x} ${pos_y} ${whl_z_offset}" rpy="${-pi/2} 0 0" />
            <axis xyz="0 0 1" />
            <limit effort="1.5" velocity="0.62" />
            <dynamics damping="0.001" friction="0.001" />
        </joint>

        <link name="${position}_wheel_link">
            <visual>
                <origin xyz="0 0 0" rpy="${mesh_roll} 0 0" />
                <geometry>
                    <mesh filename="${mesh_file}" scale="1.0 1.0 1.0" />
                </geometry>
            </visual>

            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_thickness}" />
                </geometry>
            </collision>

            <xacro:inertial_cylinder mass="${mass}" length="${wheel_thickness}" radius="${wheel_radius}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>

        <gazebo reference="${position}_wheel_link">
            <collision>
                <surface>
                    <friction>
                        <ode>
                            <mu>1</mu>
                            <mu2>1</mu2>
                            <slip1>0.035</slip1>
                            <slip2>0</slip2>
                            <fdir1>0 0 1</fdir1>
                        </ode>
                    </friction>
                </surface>
            </collision>
        </gazebo>
    </xacro:macro>
</robot>