<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rpi_camera" params="parent_link name_prefix:='' namespace xyz rpy fov resolution fps">
        <xacro:property name="mesh_file" value="package://ros_robot_description/meshes/components/rpi_camera.dae" />
        <xacro:property name="namespace_fmt" value="${namespace + '/' if namespace != '' else ''}" />
        <xacro:property name="name_prefix_fmt" value="${name_prefix + '_' if name_prefix != '' else ''}" />

        <joint name="${name_prefix_fmt}camera_joint" type="fixed">
            <parent link="${parent_link}" />
            <child link="${name_prefix_fmt}camera_link" />
            <origin xyz="${xyz}" rpy="${rpy}" />
        </joint>

        <link name="${name_prefix_fmt}camera_link">
            <visual>
                <geometry>
                    <mesh filename="${mesh_file}" scale="1.0 1.0 1.0" />
                </geometry>
            </visual>
        </link>

        <joint name="${name_prefix_fmt}camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
            <parent link="${name_prefix_fmt}camera_link" />
            <child link="${name_prefix_fmt}camera_optical_link" />
        </joint>

        <link name="${name_prefix_fmt}camera_optical_link"></link>

        <gazebo reference="${name_prefix_fmt}camera_link">
            <sensor type="camera" name="${namespace_fmt}${name_prefix_fmt}camera">
                <visualize>true</visualize>
                <update_rate>${fps}</update_rate>
                <topic>${namespace_fmt}${name_prefix_fmt}camera/image_raw</topic>
                <gz_frame_id>${namespace_fmt}${name_prefix_fmt}camera_optical_link</gz_frame_id>
                
                <camera>
                    <camera_info_topic>${namespace_fmt}${name_prefix_fmt}camera/camera_info</camera_info_topic>
                    <horizontal_fov>${(fov/180)*pi}</horizontal_fov>
                    <image>
                        <format>R8G8B8</format>
                        <width>${resolution.split()[0]}</width>
                        <height>${resolution.split()[1]}</height>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>10.0</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>