<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rplidar" params="parent_link name_prefix namespace xyz rpy">
        <xacro:property name="namespace_fmt" value="${namespace + '/' if namespace != '' else ''}" />

        <xacro:property name="mass" value="0.190" />
        <xacro:property name="inertia_ixx" value="0.00010608" />
        <xacro:property name="inertia_iyy" value="0.00010608" />
        <xacro:property name="inertia_izz" value="0.00011638" />
        <xacro:property name="radius" value="0.035" />
        <xacro:property name="height" value="0.055" />

        <joint name="${name_prefix}_laser_joint" type="fixed">
            <parent link="${parent_link}" />
            <child link="${name_prefix}_laser_link" />
            <origin xyz="${xyz}" rpy="${rpy}" />
        </joint>

        <xacro:property name="collision_mesh">
            <origin xyz="0 0 ${height/2.0}" rpy="0 0 0" />
            <geometry>
                <cylinder radius="${radius}" length="${height}" />
            </geometry>
        </xacro:property>

        <link name="${name_prefix}_laser_link">
            <visual>
                <!-- No proper Collada mesh for the RPLiDAR-A1M8 yet -->
                <xacro:insert_block name="collision_mesh" />
                <material name="solid_red"/>
            </visual>

            <collision>
                <xacro:insert_block name="collision_mesh" />
            </collision>

            <inertial>
                <mass value="${mass}" />
                <inertia ixx="${inertia_ixx}" iyy="${inertia_iyy}" izz="${inertia_izz}" />
            </inertial>
        </link>

        <gazebo reference="${name_prefix}_laser_link">
            <material>Gazebo/Red</material>

            <sensor type="gpu_lidar" name="${namespace_fmt}${name_prefix}_laser_sensor">
                <visualize>false</visualize>
                <update_rate>10</update_rate>
                <topic>${namespace_fmt}${name_prefix}_laser/scan</topic>
                <gz_frame_id>${namespace_fmt}${name_prefix}_laser_link</gz_frame_id>

                <lidar>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>-${pi}</min_angle>
                            <max_angle>${pi}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.15</min>
                        <max>12</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0</mean>
                        <stddev>0.1</stddev>
                    </noise>
                </lidar>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>